# Auto detect text files and normalize line endings to LF
* text=auto

# Shell scripts must always use LF
*.sh text eol=lf

# Ensure these files also use LF
.entrypoint.sh eol=lf
entrypoint.sh eol=lf
