version: '3.8'

services:
  app:
    image: dzarlax/jerky_vault:latest
    ports:
      - "3000:3000"
    environment:
      DATABASE_HOST: 
      DATABASE_USER: 
      DATABASE_PASSWORD: 
      DATABASE_NAME: 
      SECRET: 
      TURNSTILE_SECRET: 
      TURNSTILE_SITE_KEY:  
      NEXTAUTH_URL: 
      NEXTAUTH_SECRET: 
      JWT_SECRET: 
      MAPBOX_ACCESS_TOKEN: 
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
