version: '3.8'

services:
  jerky_vault_frontenf:
    image: dzarlax/jerky_vault:latest
    ports:
      - "3000:3000"  
    working_dir: /app
    environment:
      MAPBOX_ACCESS_TOKEN: ''
      NEXT_PUBLIC_API_URL: http://localhost:8080  
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
    networks:
      - jerky_vault_network  # Общая сеть

  jerky_vault_backend:
    image: dzarlax/jerky_vault_backend:latest
    ports:
      - "8080:8080"  # Порт для бэкенда
    environment:
      DB_USER: 
      DB_PASSWORD: 
      DB_HOST: 
      DB_PORT: 
      DB_NAME: 
      JWT_SECRET: 
      FRONT_URL: http://localhost:3000
    networks:
      - jerky_vault_network 

networks:
  jerky_vault_network:  
    driver: bridge